In [1]:
%load_ext dotenv
%dotenv

cannot find .env file

In [2]:
import pandas as pd
from pandas.api.types import (is_numeric_dtype)
import numpy as np
import os
import plotly.express as px
from matplotlib import pyplot as plt
import psycopg2
from sqlalchemy import create_engine, text as sql_text
import re

In [3]:
# engine = create_engine('postgresql://root:root@localhost:5432/name_db')
# engine = create_engine(str(os.getenv('DATABASE_URL')))
engine = create_engine('postgresql://postgres:root@localhost:5432/data_practise')
print(engine.url)

postgresql://postgres:***@localhost:5432/data_practise

In [4]:
df_tournament_results = None
df_best_players = None
df_table_positions = None

In [5]:
try:
    connection = engine.connect()
    if connection is not None:
        df_best_players = pd.read_sql_query(con=connection, sql=sql_text('SELECT * FROM "torneos_primera_arg"."best_players"'))
except exc.SQLAlchemyError as e:
    print("Error al conectar a la base de datos:", e)
    df_best_players = pd.read_csv('/CSV/best_players.csv')
finally:
    if connection is not None:
        connection.close()

In [6]:
df_best_players.head()

                     nombre_torneo        nombre cant_goles           equipo
0  Liga Profesional Argentina 2017  D. Benedetto         21     Boca Juniors
1  Liga Profesional Argentina 2017    S. Driussi         17      River Plate
2  Liga Profesional Argentina 2017       J. Sand         15            Lanús
3  Liga Profesional Argentina 2017     M. Pavone         13  Vélez Sarsfield
4  Liga Profesional Argentina 2017  Lucas Alario         12      River Plate

In [8]:
df_best_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nombre_torneo  80 non-null     object
 1   nombre         80 non-null     object
 2   cant_goles     80 non-null     object
 3   equipo         80 non-null     object
dtypes: object(4)
memory usage: 2.6+ KB

In [9]:
columns_to_convert = ['cant_goles']
df_best_players[columns_to_convert] = df_best_players[columns_to_convert].apply(pd.to_numeric, errors='coerce')
df_best_players[columns_to_convert] = df_best_players[columns_to_convert].astype('Int64', errors='ignore')

In [10]:
df_best_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nombre_torneo  80 non-null     object
 1   nombre         80 non-null     object
 2   cant_goles     80 non-null     Int64
 3   equipo         80 non-null     object
dtypes: Int64(1), object(3)
memory usage: 2.7+ KB

In [16]:
df_grouped_promedio_goles_torneo = df_best_players.groupby('nombre_torneo')['cant_goles'].mean().reset_index()
df_grouped_promedio_goles_torneo

                          nombre_torneo  cant_goles
0  Copa Liga Profesional Argentina 2023         6.3
1       Liga Profesional Argentina 2017        13.5
2       Liga Profesional Argentina 2018        11.2
3       Liga Profesional Argentina 2019         9.9
4       Liga Profesional Argentina 2020         8.9
5       Liga Profesional Argentina 2021        12.8
6       Liga Profesional Argentina 2022        10.4
7       Liga Profesional Argentina 2023        11.7

In [17]:
df_grouped_promedio_goles_equipo = df_best_players.groupby('equipo')['cant_goles'].mean().reset_index()
df_grouped_promedio_goles_equipo

                  equipo  cant_goles
0               Aldosivi         8.0
1     Argentinos Juniors        10.5
2     Arsenal de Sarandí         7.5
3            Atl.Tucumán        11.0
4               Banfield         8.5
5               Belgrano        11.0
6           Boca Juniors        12.0
7             CA Huracán        9.75
8        Central Córdoba        10.0
9                  Colón         6.5
10    Defensa y Justicia        10.0
11  Estudiantes La Plata        10.0
12            Godoy Cruz        11.5
13         Independiente   10.666667
14             Instituto         8.0
15                 Lanús   11.833333
16                Newell        12.0
17             Patronato        11.0
18              Platense        14.0
19           Racing Club   13.666667
20           River Plate   10.727273
21       Rosario Central        13.0
22           San Lorenzo        8.75
23      Talleres Córdoba        11.0
24                 Tigre        12.2
25        Unión Santa Fe        11.0
26       Vélez Sarsfield    8.333333